*,
*::before,
*::after {
    box-sizing: border-box;
}


/* ======================================= GENERAL FOR SLIDES*/
html,
body {
    overflow-x: hidden;
    width: 100%;
    min-width: 320px;
    background-image: url(../images/BackgroundBrick.jpg);
}

.container-fluid {
    /* display: flex; */
    position: relative;
    padding: 0;
    min-height: 100vh;
}

body, .container-fluid, .row {
  max-width: 100%;
}

/* ======================================= HEADER*/
.headerRow {
    min-width: 100%;
    margin: 0px;
}

#headerCol {
    position: relative;
    height: 400px;
    padding: 0px;
    min-width: 100vw;
}

#headerBanner {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 400px;
    filter: drop-shadow(10px 0 10px black);
    z-index: 1;
}

#profPic {
    height: 400px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 2;
}

@media only screen and (max-width: 580px) {
    #headerCol {
        height: 200px;
    }

    #headerBanner {
        height: 200px;
        z-index: 2;
    }

    #profPic {
        bottom: -61px;
        clip-path: inset(0px 0px 61px 0px);
        width: 185px;
        height: auto;
        z-index: 3;

    }
}

#lightHigh {
    height: 900px;
    width: 290px;
    position: absolute;
    z-index: 3;
    left: -30px;
    top: 0px;
    filter: drop-shadow(5px 5px 5px rgb(61, 61, 61));

}

@media only screen and (max-width: 580px) {
    #lightHigh {
        height: 725px;
        z-index: 2;
        top: -180px;
        left: -55px;
        width: 270px;
    }
}


#navContainer {
    background-color: rgb(31, 67, 87);
    color: rgb(199, 210, 212);
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    filter: drop-shadow(10px 10px 9px rgb(122, 122, 122));
    font-size: 18pt;
    line-height: 36pt;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 580px) {
    #navContainer {
        /* width: 40%; */
        right: 0;
        left: auto;
        color: rgb(255, 255, 255);
        padding-top: 530px;
        z-index: 2;
        font-size: 14pt;
        line-height: 28pt;
        font-weight: 400;
    }


}

.navItems {
    margin: 10px 20px 10px 180px;
}

@media only screen and (max-width: 580px) {
    .navItems {
        margin: 10px 20px 10px 20px;
    }

}

/* ======================================= TEXT ROW*/

.bodyRow {
    width: 70%;
    margin: auto 0px 35px auto;
    filter: drop-shadow(20px 2px 18px rgb(0, 0, 0));
}

@media only screen and (max-width: 580px) {
    .bodyRow {
        width: 100%;
        margin: 300px auto 50px auto;
    }
}


.textCol {
    background-color: rgb(106, 121, 101);
    padding: 35px;
    text-align: justify;
    text-justify: auto;
}


@media only screen and (max-width: 580px) {
    .textCol {
        padding: 25px;
    }
}

.genText {
    color: rgb(50, 51, 54);
    margin: 0;
    font-size: 14pt;
    font-weight: 500;
    font: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 720px) {
    .genText {
        font-size: 12pt;

    }
}

@media only screen and (max-width: 580px) {
    .genText {
        font-size: 11pt;
        font-weight: 300;
    }
}

.links {
    color: rgb(207, 208, 236);
}

#projectName {
    color: rgb(195, 198, 209);
    font-weight: 700;
    text-decoration: underline;
}

@media only screen and (max-width: 580px) {
    #projectName {
        font-size: 22px;
        font-weight: 600;
    }
}

/* ======================================= PROYECT PANEL*/

#projectNavigation {
    margin: 2rem 0;         
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    gap: 1rem;
    position: relative; 
}

.navButtons {
    height: 40px;
    position: static;
}

@media only screen and (max-width: 580px) {
    .navButtons {
        height: 20px;
    }
}

#prev {
    left: 15%;
    visibility: hidden;
}

#next {
    right: 15%;
}

[class*="navButtons"],
#headerCol, #footerCol {
  overflow-x: clip;
}

#imageContainer {
    width: 100%;
    margin: 1.25rem 0;
    overflow: hidden;           
    display: flex;
    justify-content: center;
}

#projImage {
    width: min(900px, 100%); 
    height: auto;
    object-fit: contain;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ======================================= CONTACT PANEL*/

.contactText a {
    color: #0006ff
}